In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
import  matplotlib.pyplot as plt
data=pd.read_csv(r"C:\Users\DELL\Downloads\amazon_sales_dataset.csv")

x=np.array(data['Year']).reshape(-1,1)
y=np.array(data['Total_MarkDown']).reshape(-1,1)
data.drop(['Type','Temperature'],inplace=True,axis=1)
# data.rename({"Unnamed:3":"a"},axis="columns",inplace=True)
data=data.loc[ : ,~data.columns.str.contains('Unnamed')]
data=data.rename(columns={"Size":"size"})
data
print(data)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=30)
model=LinearRegression()
model.fit(x_train,y_train)
prid=model.predict(x_test)
plt.scatter(x_train,y_train,color='blue',label="test data",linewidth=1)
plt.plot(x_test,prid,color='red',label='regression line',linewidth=2)
#plt.plot(x_test,y_test,color='green')
plt.show()
print(mean_absolute_error(y_test,prid))
print(mean_squared_error(y_test,prid))
print(r2_score(y_test,prid))

ModuleNotFoundError: No module named 'pandas'

In [4]:
data

,Date,Store,Dept,Weekly_Sales,size,Fuel_Price,CPI,Unemployment,IsHoliday,Year,Month,Week,max,min,mean,median,std,Total_MarkDown
0,05/02/2019,1,1,24924.50,151315,2.572,211.096358,8.106,0,2019,2,5,57592.12,14537.37,22513.322940,18535.480,9854.349032,0.00
1,05/02/2019,9,97,668.48,125833,2.572,214.655459,6.415,0,2019,2,5,766.93,-9.92,372.655556,371.050,290.954675,0.00
2,05/02/2019,9,85,693.87,125833,2.572,214.655459,6.415,0,2019,2,5,2512.14,110.56,876.629441,824.040,307.436056,0.00
3,05/02/2019,8,80,8654.60,155078,2.572,214.471451,6.299,0,2019,2,5,11990.43,7414.43,9188.915105,9161.970,756.223236,0.00
4,05/02/2019,9,55,11123.56,125833,2.572,214.655459,6.415,0,2019,2,5,29166.26,4791.74,8607.050490,7571.600,3874.176095,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374242,26/10/2021,2,26,9258.88,202307,3.506,223.078337,6.170,0,2021,10,43,19679.04,4179.99,9347.725105,8762.990,2825.107609,9678.80
374243,26/10/2021,38,23,53.12,39690,4.301,131.193097,10.199,0,2021,10,43,289.78,3.50,37.848679,31.365,34.065601,502.88
374244,26/10/2021,27,6,5339.65,204184,4.071,142.762411,8.000,0,2021,10,43,41005.33,2524.01,7730.729091,6798.780,5178.928257,10969.27
374245,26/10/2021,36,40,10216.27,39910,3.494,222.113657,6.228,0,2021,10,43,13605.53,8444.83,10541.569860,10329.180,1043.930131,1260.55
374246,26/10/2021,45,98,1076.80,118221,3.882,192.308899,8.667,0,2021,10,43,1504.71,2.00,561.239037,619.410,371.286705,5247.26